# svn crud
.svn*

# OS X / Darwin
.DS_Store*

# Latex
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz

# Editor Project Files
*.bbprojectd
*.kpf

# Python
*.pyc
*.egg-info*
build/*
dist/*
setup.cfg
setuptools-*.egg

*.pdf

